<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book</h1>
    <div class="container">
      {% if addresses is not empty %}
      <h1>You created a contact!</h1>
      <h3>Current addresses</h3>
      <ul>
        {% for address in addresses %}
        <li>{{ address.getName }}, {{ address.getNumber }}, {{ address.getAddress }}</li>
        {% endfor %}
      </ul>
    {% endif %}
   <a href="/">Add more contacts</a>
    </div>
  </body>
</html>
