<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
 crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <title>Address Book</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Address Book</h1>
          <form action="/create_contact" method="post">
            <div class="form-group">
              <label for="name">Name: </label>
              <input id="input_name" name="input_name" type="text">
            </div>
            <div class="form-group">
              <label for="number">Number: </label>
              <input id="input_number" name="input_number" type="number">
            </div>
            <div class="form-group">
              <label for="address">Address: </label>
              <input id="input_address" name="input_address" type="text">
            </div>
            <button type="submit" class="btn btn-info">SUBMIT</button>
          </form>

          <form action="/delete_addresses" method="post">
            <button type="submit" class="btn btn-danger">DELETE ALL ADDRESSES</button>
          </form>

          <form action="/delete_single" method="post">
            <br>
            <br>
            <h3>Delete single contact</h3>
            <div class="form-group">
              <label for="name">Enter name: </label>
              <input id="contactName" name="contactName" type="text">
            </div>
            <button type="submit" class="btn btn-warning">Delete</button>
          </form>
        </div>
        <div class="col-md-6">
          {% if addresses is not empty %}
          <h3>Current addresses</h3>
          <ul>
            {% for address in addresses %}
            <li><p><strong>{{ address.getName }}</strong></p> <p>{{ address.getNumber }}</p> <p>{{ address.getAddress }}</p></li><br>
            {% endfor %}
          </ul>
          {% else %}
          <h3>You have no addresses!</h3>
          {% endif %}
        </div>
     </div>
    </div>
  </body>
</html>
